In [2]:
import pandas as pd
import numpy as np

In [3]:
trian_rating = pd.read_csv('../data/train_ratings.csv')
output = pd.read_csv('output.csv')

output

       user_id        isbn    rating
0        11676  0002005018  7.552613
1       116866  0002005018  8.600750
2       152827  0060973129  7.269338
3       157969  0374157065  7.209201
4        67958  0399135782  7.611893
...        ...         ...       ...
76694   278543  1576734218  6.963760
76695   278563  3492223710  6.591347
76696   278633  1896095186  5.437789
76697   278668  8408044079  3.445531
76698   278851  0767907566  5.489880

[76699 rows x 3 columns]

In [13]:
output.loc[output['rating'] < 1.5].shape

(2, 3)

In [6]:
output.loc[output['rating'] < 3].shape

(596, 3)

In [27]:
output.loc[output['rating'] < 3, 'rating'] = 1
sum(output['rating'] == 1)

596

In [24]:
output.to_csv('./rulebased_less_than_3.csv', index=False)

In [12]:
trian_rating.groupby('rating').count()

        user_id   isbn
rating
1         13249  13249
2         12929  12929
3         10520  10520
4         12707  12707
5         14111  14111
6         25311  25311
7         52928  52928
8         73593  73593
9         48673  48673
10        42774  42774

In [8]:
trian_rating[trian_rating['rating'] <= 1]

        user_id        isbn  rating
77        88006  0440234743       1
92       112093  0440234743       1
133      199092  0440234743       1
137      206423  0440234743       1
146      222217  0440234743       1
...         ...         ...     ...
306739   278356  0025173251       1
306743   278356  0385266359       1
306754   278418  0312850131       1
306756   278418  0345431464       1
306766   278418  1569751544       1

[13249 rows x 3 columns]